*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.home{
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 1rem 3rem;
}
.h-detail{
    text-align: start;
    display: flex;
    flex-direction: column;
    flex: 1 1 600px;
    padding: 1.4rem;
}
.h-detail h1{
    font-size: 94px;
    color: #d6fb41;
}
.h-detail p{
    color: white;
    font-size: 35px;
    padding: 2rem 0;
}
.h-detail .button{
    width: fit-content !important;
}


.h-links{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    flex: 1 1 400px !important;
    position: relative !important;
    right: 0;
}

.proj-link{
    padding: 1.1rem;
    border: 2px solid #fff;
    color: white;
}


.h-social{
    
}