* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.navbar {
  padding: 0.4rem 1rem;
  background: #111;
  border-bottom: 1px solid grey;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 400;
  transition: 0.3s linear;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-icon{
  font-size: 35px;
  color: #b6fb41;
  display: none;
}
.nav-logo img {
  width: 49px;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-links {
  font-size: 16px !important;
}
.nav-links:hover {
  color: #6a9c14;
}

@media(max-width: 1270px){
  .left{
    gap: 1rem;
  }
  .nav-icon{
    display: inline;
  }
  .nav-items{
    display: flex;
    flex-direction: column;
    height: auto;
    position: absolute;
    top: 60px;
    opacity: 0;
  }
}

@media(min-width: 1990px){
  .nav-logo img{
    width: 69px;
  }
  .nav-links{
    font-size: 21px !important;
  }
}
