* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.navbar {
  padding: 0.6rem 2rem;
  background: #111;
  border-bottom: 1px solid grey;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 400;
  transition: 0.3s linear;
}

.left {
  display: flex;
  gap: 3rem;
}
.nav-logo img {
  width: 69px;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-links {
  font-size: 21px !important;
}
.nav-links:hover {
  color: #6a9c14;
}
