@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

.App {
  text-align: center;
  transition: 0.5s ease-in-out;
}
.App h1, h2, h3, h4, span{
  font-family: 'Metal Mania', cursive;
}
.App p, li, ul{
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  letter-spacing: 1px;
}

.button {
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  letter-spacing: 1px;
  min-height: 60px;
  min-width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, color-stop(-12.74%, rgba(110, 239, 255, .5)), color-stop(56.76%, rgba(106, 224, 255, .271)));
  background: linear-gradient(90deg, #404d0a -12.74%, #404d0a 56.76%);
  border: 2px solid #4a680a;
  color: #FFFFFF;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 600;
  transition: 0.4s ease;
}

.button:before {
  content: "";
  width: 4px;
  height: 28px;
  background: #19173b;
  border: 2px solid #435303;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  bottom: -7px;
  left: 4px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.button:after {
  content: "";
  position: absolute;
  left: -2px;
  bottom: -2px;
  border-top: 15px solid transparent;
  border-left: 15px solid #ffffff;
}

.button:hover{
  background: #d6fb41;
  color: black;
}

.nav-links{
  color: inherit !important;
  text-decoration: inherit;
}
